.page {
    font-family: 'Inter', Arial, sans-serif;
    color: var(--white);
    max-width: 1280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    .page {
        max-width: 1023px;
    }
}
@media screen and (max-width: 1024px) {
    .page {
        max-width: 767px;
    }
}
@media screen and (max-width: 768px) {
    .page {
        max-width: 424px;
    }
}
@media screen and (max-width: 425px) {
    .page {
        max-width: 320px;
    }
}