.profile {
    width: var(--width);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 50px;
}
@media screen and (max-width: 599px) {
    .profile {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: var(--padding);
    }
}