.intro__list {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}