.header {
    width: var(--width);
    margin: 45px 0 40px;
    border-bottom: 1px solid #545454b3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
@media screen and (max-width: 599px) {
    .header {
        margin: 28px 0 38px;
    }
}