.header {
    width: var(--width);
    height: 74px;
    margin: 45px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
@media screen and (max-width: 599px) {
    .header {
        margin: 28px 0 42px;
    }
}