.element__denomination {
    color: var(--black);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin: 0;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}