.popup__submit-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 358px;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
    border-radius: 2px;
    margin-top: 18px;
    padding: 14px 0 18px;
    cursor: pointer;
    transition: var(--transition);
}
.popup__submit-button:hover {
    background: #000000cc;
}
@media screen and (max-width: 599px) {
    .popup__submit-button {
        width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
}