.footer__links {
    display: flex;
    align-items: center;
    gap: 18px;
}
@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin-bottom: 48px;
    }
}