.element__image {
    color: var(--white);
    background-color: var(--black);
    width: 282px;
    height: 282px;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}