.element__like {
    height: 19px;
    width: 22px;
    background-image: url(../../../images/element/__like.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 0;
}
.element__like:hover {
    opacity: var(--opacity-6);
}