.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0 0 40px;
}
@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}